<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lang</key>
	<array>
		<string>fr</string>
		<string>us</string>
	</array>
	<key>devise</key>
	<array>
		<string>€</string>
		<string>$</string>
	</array>
	<key>connectToPress</key>
	<array>
		<string>Connexion à PressShare</string>
		<string>Connect to PressShare</string>
	</array>
	<key>signin</key>
	<array>
		<string>S&apos;identifier</string>
		<string>Sign in</string>
	</array>
	<key>signup</key>
	<array>
		<string>S&apos;inscrire</string>
		<string>Sign up</string>
	</array>
	<key>interlocutor</key>
	<array>
		<string>Interlocuteur absent</string>
		<string>Interlocutor absent</string>
	</array>
	<key>compliant</key>
	<array>
		<string>Produit non conforme</string>
		<string>Non-compliant product</string>
	</array>
	<key>date</key>
	<array>
		<string>Date</string>
		<string>Date</string>
	</array>
	<key>error</key>
	<array>
		<string>Erreur</string>
		<string>Error</string>
	</array>
	<key>errorParseJSON</key>
	<array>
		<string>Les données n&apos;ont pas pu être transformée au format JSON:</string>
		<string>Could not parse the data as JSON:</string>
	</array>
	<key>errorNoDataRequest</key>
	<array>
		<string>Aucune donnée n&apos;a été retournée pour la demande</string>
		<string>No data was returned by the request!</string>
	</array>
	<key>errorRequestReturn</key>
	<array>
		<string>Votre demande retourne un code état different de 2xx!, erreur:</string>
		<string>Your request returned a status code other than 2xx!, error :</string>
	</array>
	<key>errorRequest</key>
	<array>
		<string>Il y a une erreur avec votre demande:</string>
		<string>There was an error with your request:</string>
	</array>
	<key>send</key>
	<array>
		<string>Envoyer</string>
		<string>Send</string>
	</array>
	<key>myAbsence</key>
	<array>
		<string>Par mon absence</string>
		<string>By my absence</string>
	</array>
	<key>other</key>
	<array>
		<string>Autre</string>
		<string>Other</string>
	</array>
	<key>confirm</key>
	<array>
		<string>Accepter</string>
		<string>Confirm</string>
	</array>
	<key>type</key>
	<array>
		<string>Type</string>
		<string>Type</string>
	</array>
	<key>amount</key>
	<array>
		<string>Montant</string>
		<string>Amount</string>
	</array>
	<key>wording</key>
	<array>
		<string>Libellé</string>
		<string>Wording</string>
	</array>
	<key>balance</key>
	<array>
		<string>Solde</string>
		<string>Balance</string>
	</array>
	<key>subscribeSubs</key>
	<array>
		<string>Souscrire abonnement</string>
		<string>Subscribe subscription</string>
	</array>
	<key>cancelSubs</key>
	<array>
		<string>Resilier abonnement</string>
		<string>Cancel subscription</string>
	</array>
	<key>canceled</key>
	<array>
		<string>Résilié</string>
		<string>Canceled</string>
	</array>
	<key>confirmed</key>
	<array>
		<string>Confirmé</string>
		<string>Confirmed</string>
	</array>
	<key>subscriptionHas</key>
	<array>
		<string>Votre abonnement a été</string>
		<string>Your subscription has been</string>
	</array>
	<key>confirmTermin</key>
	<array>
		<string>Confirmer la resilisation</string>
		<string> Confirm termination</string>
	</array>
	<key>sell</key>
	<array>
		<string>Vendre</string>
		<string>Sell</string>
	</array>
	<key>confirmSubsWithDepot</key>
	<array>
		<string>Confirmer l&apos;abonnement avec un depôt de 10€</string>
		<string>Confirm subscription with a deposit of $10</string>
	</array>
	<key>confirmSubs</key>
	<array>
		<string>Confirmer l&apos;abonnement</string>
		<string>Confirm subscription</string>
	</array>
	<key>withdrawalMade</key>
	<array>
		<string>Votre retrait a été effectué</string>
		<string>Your withdrawal was made</string>
	</array>
	<key>paymentMade</key>
	<array>
		<string>Votre versement a été effectué</string>
		<string>Your payment has been made</string>
	</array>
	<key>OneTimeDepo</key>
	<array>
		<string>Depôt ponctuel </string>
		<string>One time deposit</string>
	</array>
	<key>OneTimeWithd</key>
	<array>
		<string>Retrait ponctuel </string>
		<string>One-time withdrawal</string>
	</array>
	<key>withdrawal</key>
	<array>
		<string>Retrait</string>
		<string>Withdrawal</string>
	</array>
	<key>commission</key>
	<array>
		<string>Commission</string>
		<string>Commission</string>
	</array>
	<key>confirmPayment</key>
	<array>
		<string>Confirmer votre versement</string>
		<string>Confirm your payment</string>
	</array>
	<key>deposit</key>
	<array>
		<string>Depôt</string>
		<string>Deposit</string>
	</array>
	<key>lostPassword</key>
	<array>
		<string>Mot de passe perdu</string>
		<string>Lost password</string>
	</array>
	<key>anonyme</key>
	<array>
		<string>Anonyme</string>
		<string>Anonymous</string>
	</array>
	<key>map</key>
	<array>
		<string>Carte</string>
		<string>Map</string>
	</array>
	<key>list</key>
	<array>
		<string>maListe</string>
		<string>myList</string>
	</array>
	<key>settings</key>
	<array>
		<string>Paramètre</string>
		<string>Settings</string>
	</array>
	<key>editProfil</key>
	<array>
		<string>Modifier mon profil</string>
		<string>Edit my profil</string>
	</array>
	<key>subscribe</key>
	<array>
		<string>S&apos;abonner</string>
		<string>Subscribe</string>
	</array>
	<key>unsubscribe</key>
	<array>
		<string>Se desabonner</string>
		<string>Unsubscribe</string>
	</array>
    <key>errorConnection</key>
    <array>
        <string>Connexion internet invalide!</string>
        <string>Internet Connection not Available!</string>
    </array>
    <key>connectInfo</key>
	<array>
		<string>informations de connexion</string>
		<string>Connection information</string>
	</array>
	<key>mySubscrit</key>
	<array>
		<string>Mon abonnement</string>
		<string>My subscription</string>
	</array>
	<key>myCB</key>
	<array>
		<string>Mes cartes bancaires</string>
		<string>My credit card</string>
	</array>
	<key>myNotif</key>
	<array>
		<string>Mes alertes</string>
		<string>My notifications or alerts</string>
	</array>
	<key>errorUpdateTrans</key>
	<array>
		<string>impossible de modifier la transaction</string>
		<string>Impossible to update the transaction</string>
	</array>
	<key>errorBalanceTrans</key>
	<array>
		<string>Votre solde est insuffisant pour effectuer une transaction..!</string>
		<string>Your balance is insufficient to perform a transaction..!</string>
	</array>
    <key>errorMinimumBal</key>
    <array>
        <string>Votre solde minimum doit être :</string>
        <string>Your minimum balance must be :</string>
    </array>
	<key>errorContactSeller</key>
	<array>
		<string>Entrez en contact avec le vendeur</string>
		<string>Contact the seller</string>
	</array>
	<key>errorTypeTrans</key>
	<array>
		<string>Vous devez choisir le type de transaction!</string>
		<string>You have to choose the type of transaction!</string>
	</array>
	<key>errorDelMessage</key>
	<array>
		<string>Impossible de supprimer le message</string>
		<string>Impossible to delete the message</string>
	</array>
	<key>errorAddOperat</key>
	<array>
		<string>Impossible d&apos;ajouter l&apos;operation&apos;</string>
		<string>Impossible to add the operation</string>
	</array>
	<key>errorAddTrans</key>
	<array>
		<string>Impossible d&apos;ajouter la transaction</string>
		<string>Impossible to add the transaction</string>
	</array>
	<key>runTransac</key>
	<array>
		<string>Transaction en cours</string>
		<string>Running transaction</string>
	</array>
	<key>ExplanTuto</key>
	<array>
		<string>Explication ou tutoriel</string>
		<string>Explanation or Tutorial</string>
	</array>
	<key>cancel</key>
	<array>
		<string>Annuler</string>
		<string>Cancel</string>
	</array>
	<key>save</key>
	<array>
		<string>Valider</string>
		<string>Save</string>
	</array>
	<key>pseudo</key>
	<array>
		<string>Pseudo</string>
		<string>Pseudonym</string>
	</array>
	<key>mail</key>
	<array>
		<string>Mail</string>
		<string>Mail</string>
	</array>
	<key>emailPassword</key>
	<array>
		<string>Attention un mail a été envoyé dans votre boite aux lettes. Pensez à vérifier votre dossier spam si vous ne trouvez pas le mail.</string>
		<string>Beware a email has been sent in your box to the letters. Check your spam folder if you do not find the email</string>
	</array>
	<key>password</key>
	<array>
		<string>Mot de passe</string>
		<string>Password</string>
	</array>
	<key>nickName</key>
	<array>
		<string>Nom</string>
		<string>Nickmane</string>
	</array>
	<key>surname</key>
	<array>
		<string>Prénom</string>
		<string>Surename</string>
	</array>
	<key>adresse</key>
	<array>
		<string>Adresse</string>
		<string>An address</string>
	</array>
	<key>zipCode</key>
	<array>
		<string>Code postal</string>
		<string>Zip code</string>
	</array>
	<key>city</key>
	<array>
		<string>Ville</string>
		<string>City</string>
	</array>
	<key>country</key>
	<array>
		<string>Pays</string>
		<string>Country</string>
	</array>
	<key>done</key>
	<array>
		<string>Valider</string>
		<string>Done</string>
	</array>
	<key>delete</key>
	<array>
		<string>Supr</string>
		<string>Delete</string>
	</array>
	<key>oldPass</key>
	<array>
		<string>Ancien mot de passe</string>
		<string>Old password</string>
	</array>
	<key>checkPass</key>
	<array>
		<string>Verifier le mot de passe</string>
		<string>Check the password</string>
	</array>
	<key>enterEmail</key>
	<array>
		<string>Entrer l&apos;email</string>
		<string>Enter the email</string>
	</array>
	<key>newPass</key>
	<array>
		<string>Nouveau mot de passe</string>
		<string>New password</string>
	</array>
	<key>tapALoc</key>
	<array>
		<string>Taper un lieu</string>
		<string>Tap a location</string>
	</array>
	<key>findOnMap</key>
	<array>
		<string>Trouver sur la carte</string>
		<string>Find on the map</string>
	</array>
	<key>description</key>
	<array>
		<string>nom</string>
		<string>description</string>
	</array>
	<key>confirmWithdrawal</key>
	<array>
		<string>Confirmer votre retrait</string>
		<string>Confirm your withdrawal</string>
	</array>
	<key>ErrorDescription</key>
	<array>
		<string>Nom incorrect</string>
		<string>Incorrect description</string>
	</array>
	<key>hastobechosen</key>
	<array>
		<string>vient d&apos;être choisi pour un</string>
		<string>has to be chosen for a</string>
	</array>
	<key>customerFor</key>
	<array>
		<string>Prenez contact avec le client pour la suite de la transaction...</string>
		<string>Contact the customer to following the transaction...</string>
	</array>
	<key>theProduct</key>
	<array>
		<string>Le produit :</string>
		<string>The product :</string>
	</array>
	<key>makeChoice</key>
	<array>
		<string>Faites votre choix :</string>
		<string>Make your choice :</string>
	</array>
	<key>ErrorGeocode</key>
	<array>
		<string>Erreur geocodeadresse : adresse invalide</string>
		<string>Error geocodeadresse : invalid address</string>
	</array>
	<key>ErrorGeolocation</key>
	<array>
		<string>Erreur de géolocalisation</string>
		<string>Error of geolocation</string>
	</array>
	<key>ErrorPrice</key>
	<array>
		<string>Prix invalide</string>
		<string>Invalid price</string>
	</array>
	<key>takePicture</key>
	<array>
		<string>Prendre une photo</string>
		<string>Take a picture</string>
	</array>
	<key>deletionFor</key>
	<array>
		<string>Suppression interdite</string>
		<string>Deletion forbidden</string>
	</array>
	<key>price</key>
	<array>
		<string>prix</string>
		<string>price</string>
	</array>
	<key>comment</key>
	<array>
		<string>commentaire</string>
		<string>comment</string>
	</array>
	<key>availableTime</key>
	<array>
		<string>Temps dispo</string>
		<string>Available time</string>
	</array>
	<key>errorEndedTrans</key>
	<array>
		<string>Attention vous allez terminer la transaction.</string>
		<string>Warning you will complete the transaction.</string>
	</array>
	<key>errorAcceptReject</key>
	<array>
		<string>Vous n&apos;avez pas accepté ou rejeté la transaction</string>
		<string>You did not accept or reject the transaction</string>
	</array>
	<key>buy</key>
	<array>
		<string>Achat</string>
		<string>Buy</string>
	</array>
	<key>exchange</key>
	<array>
		<string>Echange</string>
		<string>Exchange</string>
	</array>
	<key>seller</key>
	<array>
		<string>Vendeur :</string>
		<string>Seller :</string>
	</array>
	<key>customer</key>
	<array>
		<string>Client :</string>
		<string>Customer :</string>
	</array>
	<key>impossibleDeldMes</key>
	<array>
		<string>impossible de supprimer le message</string>
		<string>impossible to delete the message</string>
	</array>
	<key>impossibleDeldPr</key>
	<array>
		<string>impossible de supprimer le produit</string>
		<string>impossible to delete the product</string>
	</array>
	<key>impossibleUpdPr</key>
	<array>
		<string>impossible de modifier le produit</string>
		<string>impossible to update the product</string>
	</array>
	<key>product</key>
	<array>
		<string>produit</string>
		<string>Product</string>
	</array>
	<key>state</key>
	<array>
		<string>Etat du produit</string>
		<string>Product state</string>
	</array>
	<key>exchangeBuy</key>
	<array>
		<string>Echanger - Acheter</string>
		<string>Exchange - Buy</string>
	</array>
	<key>errorLogin</key>
	<array>
		<string>Erreur, identifiant incorrect</string>
		<string>Error, login is empty</string>
	</array>
	<key>errorNewPassword</key>
	<array>
		<string>Erreur, Nouveau mot de passe incorrect</string>
		<string>Error, New password is empty</string>
	</array>
	<key>errorCheckPassword</key>
	<array>
		<string>Erreur, mot de passe verification incorrect</string>
		<string>Error, checked password is empty</string>
	</array>
	<key>errorOldPassword</key>
	<array>
		<string>Erreur, Ancien mot de passe incorrect</string>
		<string>Error, Old password is empty</string>
	</array>
	<key>errorPassword</key>
	<array>
		<string>Erreur, mot de passe incorrect</string>
		<string>Error, password is empty</string>
	</array>
	<key>loginPassword</key>
	<array>
		<string>Erreur, identifiant ou mot de passe incorrect</string>
		<string>Error, login / password</string>
	</array>
	<key>errorMail</key>
	<array>
		<string>Erreur, mail incorrect</string>
		<string>Error, mail incorrect</string>
	</array>
	<key>inBox</key>
	<array>
		<string>Boite de Reception</string>
		<string>Inbox</string>
	</array>
	<key>emailSender</key>
	<array>
		<string>De :</string>
		<string>From :</string>
	</array>
	<key>sendBox</key>
	<array>
		<string>Boite d&apos;Envoi</string>
		<string>Shipping Box</string>
	</array>
	<key>emptyMessage</key>
	<array>
		<string>Message vide</string>
		<string>Empty message</string>
	</array>
	<key>sentMessage</key>
	<array>
		<string>Message envoyé.</string>
		<string>Sent message.</string>
	</array>
	<key>reply</key>
	<array>
		<string>Reponse</string>
		<string>Reply</string>
	</array>
	<key>message</key>
	<array>
		<string>Message</string>
		<string>Message.</string>
	</array>
</dict>
</plist>
