<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>lang</key>
        <array>
            <string>fr</string>
            <string>us</string>
        </array>
        <key>devise</key>
        <array>
            <string>€</string>
            <string>$</string>
        </array>
        <key>connectToPress</key>
        <array>
            <string>Connexion à PressShare</string>
            <string>Connect to PressShare</string>
        </array>
        <key>signin</key>
        <array>
            <string>S&apos;identifier&apos;</string>
            <string>Sign in</string>
        </array>
        <key>signup</key>
        <array>
            <string>S&apos;inscrire&apos;</string>
            <string>Sign up</string>
        </array>
        <key>interlocutor</key>
        <array>
            <string>Interlocuteur absent</string>
            <string>Interlocutor absent</string>
        </array>
        <key>compliant</key>
        <array>
            <string>Produit non conforme</string>
            <string>Non-compliant product</string>
        </array>
        <key>date</key>
        <array>
            <string>Date</string>
            <string>Date</string>
        </array>
        <key>myAbsence</key>
        <array>
            <string>Par mon absence</string>
            <string>By my absence</string>
        </array>
        <key>other</key>
        <array>
            <string>Autre</string>
            <string>Other</string>
        </array>
        <key>confirm</key>
        <array>
            <string>Accepter</string>
            <string>Confirm</string>
        </array>
        <key>type</key>
        <array>
            <string>Type</string>
            <string>Type</string>
        </array>
        <key>amount</key>
        <array>
            <string>Montant</string>
            <string>Amount</string>
        </array>
        <key>wording</key>
        <array>
            <string>Libellé</string>
            <string>Wording</string>
        </array>
        <key>balance</key>
        <array>
            <string>Solde</string>
            <string>Balance</string>
        </array>
        <key>withdrawal</key>
        <array>
            <string>Retrait</string>
            <string>Withdrawal</string>
        </array>
        <key>deposit</key>
        <array>
            <string>Depôt</string>
            <string>Deposit</string>
        </array>
        <key>lostPassword</key>
        <array>
            <string>Mot de passe perdu</string>
            <string>Lost password</string>
        </array>
        <key>anonyme</key>
        <array>
            <string>Anonyme</string>
            <string>Anonymous</string>
        </array>
        <key>map</key>
        <array>
            <string>Carte</string>
            <string>Map</string>
        </array>
        <key>list</key>
        <array>
            <string>Liste</string>
            <string>List</string>
        </array>
        <key>settings</key>
        <array>
            <string>Paramètre</string>
            <string>Settings</string>
        </array>
        <key>editProfil</key>
        <array>
            <string>Modifier mon profil</string>
            <string>Edit my profil</string>
        </array>
        <key>subscribe</key>
        <array>
            <string>S'abonner</string>
            <string>Subscribe</string>
        </array>
        <key>unsubscribe</key>
        <array>
            <string>Se desabonner</string>
            <string>Unsubscribe</string>
        </array>
        <key>connectInfo</key>
        <array>
            <string>informations de connexion</string>
            <string>Connection information</string>
        </array>
        <key>mySubscrit</key>
        <array>
            <string>Mon abonnement</string>
            <string>My subscription</string>
        </array>
        <key>myCB</key>
        <array>
            <string>Mes cartes bancaires</string>
            <string>My credit card</string>
        </array>
        <key>myNotif</key>
        <array>
            <string>Mes alertes</string>
            <string>My notifications or alerts</string>
        </array>
        <key>runTransac</key>
        <array>
            <string>Transaction en cours</string>
            <string>Running transaction</string>
        </array>
        <key>ExplanTuto</key>
        <array>
            <string>Explication ou tutoriel</string>
            <string>Explanation or Tutorial</string>
        </array>
        <key>cancel</key>
        <array>
            <string>Annuler</string>
            <string>Cancel</string>
        </array>
        <key>save</key>
        <array>
            <string>Valider</string>
            <string>Save</string>
        </array>
        <key>pseudo</key>
        <array>
            <string>Pseudo</string>
            <string>Pseudonym</string>
        </array>
        <key>mail</key>
        <array>
            <string>Mail</string>
            <string>Mail</string>
        </array>
        <key>password</key>
        <array>
            <string>Mot de passe</string>
            <string>Password</string>
        </array>
        <key>nickName</key>
        <array>
            <string>Nom</string>
            <string>Nickmane</string>
        </array>
        <key>surname</key>
        <array>
            <string>Prénom</string>
            <string>Surename</string>
        </array>
        <key>adresse</key>
        <array>
            <string>Adresse</string>
            <string>An address</string>
        </array>
        <key>zipCode</key>
        <array>
            <string>Code postal</string>
            <string>Zip code</string>
        </array>
        <key>city</key>
        <array>
            <string>Ville</string>
            <string>City</string>
        </array>
        <key>country</key>
        <array>
            <string>Pays</string>
            <string>Country</string>
        </array>
        <key>done</key>
        <array>
            <string>Valider</string>
            <string>Done</string>
        </array>
        <key>oldPass</key>
        <array>
            <string>Ancien mot de passe</string>
            <string>Old password</string>
        </array>
        <key>checkPass</key>
        <array>
            <string>Verifier le mot de passe</string>
            <string>Check the password</string>
        </array>
        <key>enterEmail</key>
        <array>
            <string>Entrer l&apos;email</string>
            <string>Enter the email</string>
        </array>
        <key>newPass</key>
        <array>
            <string>Nouveau mot de passe</string>
            <string>New password</string>
        </array>
        <key>tapALoc</key>
        <array>
            <string>Taper un lieu</string>
            <string>Tap a location</string>
        </array>
        <key>findOnMap</key>
        <array>
            <string>Trouver sur la carte</string>
            <string>Find on the map</string>
        </array>
        <key>description</key>
        <array>
            <string>nom</string>
            <string>description</string>
        </array>
        <key>price</key>
        <array>
            <string>prix</string>
            <string>price</string>
        </array>
        <key>comment</key>
        <array>
            <string>commentaire</string>
            <string>comment</string>
        </array>
        <key>availableTime</key>
        <array>
            <string>Temps dispo</string>
            <string>Available time</string>
        </array>
        <key>exchange</key>
        <array>
            <string>Echange</string>
            <string>Txchange</string>
        </array>
        <key>trade</key>
        <array>
            <string>Commerce</string>
            <string>Trade</string>
        </array>
        <key>product</key>
        <array>
            <string>produit</string>
            <string>Product</string>
        </array>
        <key>state</key>
        <array>
            <string>Etat du produit</string>
            <string>Product state</string>
        </array>
        <key>exchangeBuy</key>
        <array>
            <string>Echanger - Acheter</string>
            <string>Exchange - Buy</string>
        </array>
    </dict>
</plist>
