<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   traductionMessage.plist
   PressShare

   Created by MacbookPRV on 07/12/2016.
   Copyright (c) 2016 Pastouret Roger. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>lang</key>
        <array>
            <string>fr</string>
            <string>us</string>
        </array>
        
    </dict>
</plist>
